# unfinished
README.md

# private notes
Research Diary_Predator-Prey-Learning.md
ros/*.png
!ros/*/*.png

# learning
learning/ir_sim_learning/
runs/
videos/
wandb/
cleanrl*

# ros
build/
devel/
logs/
.catkin_tools/

# Python Ignore
# Byte-compiled / optimized / DLL files
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# vscode project config
.vscode/

