<?xml version="1.0"?>

<model>
  <name>Navigation target (red)</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Hanxiao Li</name>
    <email>hanxiao.li@csu.edu.cn</email>
  </author>

  <description>
    A red box target with zero mass that can be used to mark a location.
  </description>
</model>
